.container{
    position: absolute;
    width: 573.91px;
    height: 192px;
    left: 700px;
    top: 150px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */
    
    text-align: right;
    
    color: #240D57;
}

.snap{
    

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 74px;
/* identical to box height */

text-align: right;

background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.container1{
    position: absolute;
width: 440px;
height: 775.69px;
left: calc(50% - 440px/2 - 366px);
top: 100px;


}

.container2{
    position: absolute;
    left: 800px;
    top: 350px;
    width: 521px;
height: 56px;


font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: right;

color: #4F4F4F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.button{
    position: absolute;
    left: 1000px;
    top: 450px;
    width: 521px;
height: 56px;
 


border-radius: 10px;
}
